# 🔐 Basic credentials for local development (do not use in production)

# Traefik / Let's Encrypt
EMAIL_LETSENCRYPT=admin@example.com

# PostgreSQL
POSTGRES_DB=bi_demo
POSTGRES_USER=bi_user
POSTGRES_PASSWORD=bi_pass

# Airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow123

# pgAdmin
PGADMIN_EMAIL=pgadmin@example.com
PGADMIN_PASSWORD=admin123

# Jupyter
JUPYTER_TOKEN=letmein
JUPYTER_PASSWORD=jupyter123
JUPYTER_HASH_PASSWORD=argon2:dummyhashedpassword
